body {
  color: #4A4A4A;
  font-family: Avenir Next, Helvetica, sans-serif;
  font-size: 16px;
}

.jumbotron {
  background-color: #DEDEDE;
  text-align: center;
}

.jumbotron p {
  font-weight: normal;
}

.jumbotron input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  font-size: 18px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

.main-content {
  margin-bottom: 30px;
}

.btn:focus, .btn.active:focus {
  outline: none;
}

.order-by-nav {
  min-height: 30px;
  margin-bottom: 15px;
}

.order-by-nav label.order-by,
.order-by-nav span.last-update {
  height: 30px;
  line-height: 30px;
  margin: 0;
  display: block;
}

.order-by-nav label.order-by {
  float: left;
}

.order-by-nav span.last-update {
  float: right;
}

.order-by-nav .nav {
  float: left;
  margin-left: 10px;
}

.order-by-nav .nav > li > a {
  padding: 5px 10px
}

.order-by-nav .fa {
  padding-right: 3px;
}

.main-section .spinner {
  margin: 0 auto 0 auto;
}

.main-section {
  clear: both;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.main-section .panel-main {
  float: left;
}

.main-section .panel-header {
  float: left;
}

.main-section .panel-header .rank-number {
  float: left;
  background-color: #337ab7;
  border-radius: 4px;
  height: 50px;
  width: 75px;
  display: inline-block;
  text-align: center;
}

.main-section .panel-header .rank-number span {
  color: #ffffff;
  font-size: 34px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
}

.main-section .panel-header h2 {
  word-break: break-all;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  padding: 0 0 0 90px;
  margin: 0;
  height: auto;
}

.main-section img {
  width: 100%;
  height: auto;
}

.main-section .panel-content {
  clear: both;
  padding: 15px 0 0 0;
}

.github-data-container .github-data {
  float: left;
  min-width: 95px;
  margin: 15px 15px 0 0;
}

.github-data-container .github-data .fa {
  width: 22px;
  text-align: center;
}

.github-data-container .github-data span.data-item {
  font-weight: 500;
  /*padding-left: 22px;*/
}

@media (max-width: 991px) {
  .panel-screenshot {
    margin-top: 15px;
  }
}

.highlight {
  background-color: yellow;
}

footer {
  background-color: #DEDEDE;
}

footer .container {
  padding-top: 30px;
  text-align: center;
}

.social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}

.github-btn {
  overflow: hidden;
  border: 0;
}

footer .container p {
  margin-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
