body {
  color: #4A4A4A;
  font-family: Avenir Next, Helvetica, sans-serif;
  font-size: 16px;
}

.jumbotron {
  background-color: #DEDEDE;
  text-align: center;
}

.jumbotron p {
  font-weight: normal;
}

.jumbotron input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  font-size: 18px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

.btn:focus, .btn.active:focus {
  outline: none;
}

.order-by-nav {
  min-height: 30px;
  margin-bottom: 15px;
}

.order-by-nav label {
  height: 30px;
  line-height: 30px;
  margin: 0;
  display: block;
}

.order-by-nav label.order-by {
  float: left;
}

.order-by-nav label.last-update {
  float: right;
}

.order-by-nav .nav {
  float: left;
  margin-left: 10px;
}

.order-by-nav .nav > li > a {
  padding: 5px 10px
}

.order-by-nav .fa {
  padding-right: 3px;
}

.main-section {
  clear: both;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.main-section .panel-main {
  float: left;
}

.main-section .panel-header {
  float: left;
}

.main-section .panel-header .rank-number {
  float: left;
  /*border: 2px solid #337ab7;*/
  background-color: #337ab7;
  border-radius: 2px;
  height: 50px;
  min-width: 50px;
  display: inline-block;
  text-align: center;
}

.main-section .panel-header .rank-number span {
  color: #ffffff;
  font-size: 34px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.main-section .panel-header h2 {
  word-break: break-all;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  padding: 0 0 0 60px;
  margin: 0;
  height: auto;
}

.main-section img {
  width: 100%;
  height: auto;
}

.main-section .panel-content {
  clear: both;
  padding: 15px 0 0 0;
}

.highlight {
  background-color: yellow;
}
